* {
  margin: 0;
  padding: 0;
}

#canvas1 {
  background: rgb(52, 52, 110);
  position: absolute;
}

.controls {
  position: absolute;
  z-index: 100;

}

img {
  margin-top: 130px;
  display: none;
}

.header {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.header h1 {
  margin-top: 20px;
  font-size: 60px;
  font-family: 'Bangers', cursive;
  color: rgb(175, 67, 17);
}

.button_container {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  padding: 0, 20, 20, 20;
}

button {
  padding: 10px;
  margin: 20px;
  font-size: 30px;
  font-family: 'Bangers', cursive;
  color: black;
  background-color: orange;
  border-radius: 0.5rem;
  border: 1.5px solid black;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  color: orangered;
  background-color: rgb(95, 33, 33);
}